[submodule "crabook/notebooks/workflows/FLOODS"]
	path = crabook/notebooks/workflows/FLOODS
	url = https://github.com/CLIMAAX/FLOODS
	branch = main
[submodule "crabook/notebooks/workflows/DROUGHTS"]
	path = crabook/notebooks/workflows/DROUGHTS
	url = https://github.com/CLIMAAX/DROUGHTS
	branch = main
[submodule "crabook/notebooks/workflows/HEATWAVES"]
	path = crabook/notebooks/workflows/HEATWAVES
	url = https://github.com/CLIMAAX/HEATWAVES
	branch = main
[submodule "crabook/notebooks/workflows/SNOW"]
	path = crabook/notebooks/workflows/SNOW
	url = https://github.com/CLIMAAX/SNOW
	branch = main
[submodule "crabook/notebooks/workflows/FIRE"]
	path = crabook/notebooks/workflows/FIRE
	url = https://github.com/CLIMAAX/FIRE
	branch = main
[submodule "crabook/notebooks/workflows/STORMS"]
	path = crabook/notebooks/workflows/STORMS
	url = https://github.com/CLIMAAX/STORMS
	branch = main
[submodule "crabook/notebooks/workflows/HEAVY_RAINFALL"]
	path = crabook/notebooks/workflows/HEAVY_RAINFALL
	url = https://github.com/CLIMAAX/HEAVY_RAINFALL.git
	branch = main
[submodule "crabook/notebooks/CLIMATE_SCENARIOS"]
	path = crabook/notebooks/CLIMATE_SCENARIOS
	url = https://github.com/CLIMAAX/CLIMATE_SCENARIOS.git
	branch = main
[submodule "crabook/assets/dashboards"]
	path = crabook/assets/dashboards
	url = https://github.com/CLIMAAX/dashboards.git
