#######################################################################################
# A default configuration that will be loaded for all jupyter books
# See the documentation for help and more options: 
# https://jupyterbook.org/customize/config.html

#######################################################################################
# Book settings
title                       : crabook  # The title of the book. Will be placed in the left navbar.
author                      : CLIMAAX community  # The author of the book
copyright                   : "2023"  # Copyright year to be placed in the footer
logo                        : logo.png  # A path to the book logo

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: off  # Whether to execute notebooks at build time. Must be one of ("auto", "force", "cache", "off")

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/CLIMAAX/crabook-test  # Online location of your book
  path_to_book: crabook  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  home_page_in_navbar: false
  favicon: https://www.climaax.eu/wp-content/uploads/2023/03/cropped-Climaax_logo_singolo-32x32.png
  use_issues_button: true
  use_repository_button: true
  announcement: "⚠️This is the first operational version of the handobook, but it is still a work in progress and will be heavily updated during 2024!⚠️"
  #extra_footer: |
  #  <div>
  #      MY FOOTER!
  #  </div>

# Do not include these files in the build
exclude_patterns: ["content.md", "**.ipynb_checkpoints", "**README.md", "_build", "Thumbs.db", ".DS_Store"] 

#######################################################################################
# Launch button settings
#launch_buttons:
#  notebook_interface        : jupyterlab  # The interface interactive links will activate ["classic", "jupyterlab"]
#  binderhub_url             : "https://mybinder.org" # The URL of the BinderHub (e.g., https://mybinder.org or https://binder.pangeo.io, https://aws-uswest2-binder.pangeo.io)

# search_bar_position: left

parse:
  myst_enable_extensions:  # default extensions to enable in the myst parser. See https://myst-parser.readthedocs.io/en/latest/using/syntax-optional.html
    - amsmath
    - colon_fence
    - deflist
    - dollarmath
    - html_admonition
    - html_image
    - linkify
    - replacements
    - smartquotes
    - substitution

sphinx:
  extra_extensions:
   # - sphinx_tippy
    - sphinx_design
  config:
    html_extra_path: ['assets']
    bibtex_reference_style: author_year
    html_theme: sphinx_book_theme
    html_last_updated_fmt: "%b %d, %Y"
    html_show_copyright: false
    html_js_files:
      - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js
