@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    --pst-font-family-base: "Roboto", var(--pst-font-family-base-system);
    --pst-font-family-heading: "Roboto", var(--pst-font-family-base-system);
    --pst-font-family-monospace: "Roboto Mono", var(--pst-font-family-monospace-system);
}

.dropdown-download-buttons {
    display: none;
}

.theme-switch-button {
    display: none;
}

.navbar-brand logo {
    width: 200px;
}

.bd-header-article .btn {
    color: #0A1D6B;
}
.bd-header-article .dropdown-source-buttons .btn {
    color: #0EAF94;
}
.bd-header-article .btn-fullscreen-button {
    color: #F9BC12;
}
.bd-header-article .theme-switch-button {
    color: #F47A00;
}

figcaption {
    font-size: 0.9rem;
}
