@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    --pst-font-family-base: "Roboto", var(--pst-font-family-base-system);
    --pst-font-family-heading: "Roboto", var(--pst-font-family-base-system);
    --pst-font-family-monospace: "Roboto Mono", var(--pst-font-family-monospace-system);
}

table tr td {
    min-width: 2.5rem;
}

.dropdown-download-buttons {
    display: none;
}
.btn.theme-switch-button {
    display: none;
}

.navbar-brand logo {
    width: 200px;
}

.bd-header-article .btn {
    color: #0A1D6B;
}
.bd-header-article .dropdown-source-buttons .btn {
    color: #0EAF94;
}
.bd-header-article .btn-fullscreen-button {
    color: #F9BC12;
}
.bd-header-article .btn.search-button {
    color: #F47A00;
}

.page-main-photo {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

/* Custom table for Monitoring and Evaluation in Framework */
table.monitoring-table tr.subtable-heading {
    font-weight: bold;
    font-size: 120%;
    background-color:var(--pst-color-light-highlight);
}
table.monitoring-table th {
    background-color: #f3f4f5;
}

figcaption {
    font-size: 0.9rem;
}
figcaption p {
    color: var(--pst-color-text-muted);
}

/* Extra space for glossary entries that only link to elsewhere without more text */
dl.glossary dt {
    margin-top: 10px;
}

/* Remove extra padding for last-child margin elements which causes weird shadow placement */
aside.sidebar > :last-child {
    padding-bottom: 0;
}

img.hazard-icon {
    width: 1.25em;
    vertical-align: text-top;
    margin-right: 1px;
}

aside.margin.workflow-info {
    padding-left: 1rem;
}
@media (max-width: 991px) {
    aside.margin.workflow-info {
        display: none;
    }
}
aside.margin.workflow-info p {
    color: var(--pst-color-text-muted);
}

/* Hide line/shadow below tab content in answers to guiding questions */
details.sd-dropdown div.sd-tab-set:last-child div.sd-tab-content {
    box-shadow: 0 -0.0625rem var(--sd-color-tabs-overline);
    padding-bottom: 0;
}

.dataset-file-list {
    max-height: 30rem;
    overflow-y: auto;
    border: 1px solid var(--pst-color-border);
    border-radius: .25rem;
    padding: 1rem 0;
    background-color: var(--pst-color-surface);
}
.dataset-file-list ul {
    list-style-type: none;
}
.dataset-file-list > ul ul {
    border-left: 2px solid var(--pst-color-border);
}
