@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --climaax-lightgreen: #05DBBD;
    --climaax-lightgreen-bg: #c1f6ef;
    --climaax-darkgreen: #0EAF94;
    --climaax-darkgreen-bg: #c3ebe4;
    --climaax-yellow: #F9BC12;
    --climaax-yellow-bg: #feeec4;
    --climaax-orange: #F47A00;
    --climaax-orange-bg: #fcdebf;
    --climaax-darkblue: #0A1D6B;
    --climaax-darkblue-bg: #c2c7da;
    --climaax-lightblue: #1A74B5;
    --climaax-lightblue-bg: #c6dced;
    --climaax-cyan: #1596B8;
    --climaax-cyan-bg: #c5e5ed;
}

html {
    --pst-font-family-base: "Roboto", var(--pst-font-family-base-system);
    --pst-font-family-heading: "Roboto", var(--pst-font-family-base-system);
    --pst-font-family-monospace: "Roboto Mono", var(--pst-font-family-monospace-system);
}

html[data-theme="light"] {
    --pst-color-primary: var(--climaax-lightblue);
    --pst-color-primary-bg: var(--climaax-lightblue-bg);
    --pst-color-secondary: var(--climaax-orange);
    --pst-color-secondary-bg: var(--climaax-orange-bg);
    --pst-color-accent: var(--climaax-darkblue);
    /* Admonitions */
    --pst-color-info: var(--climaax-lightblue);
    --pst-color-info-bg: var(--climaax-lightblue-bg);
    --pst-color-success: var(--climaax-darkgreen);
    --pst-color-success-bg: var(--climaax-darkgreen-bg);
    --pst-color-warning: var(--climaax-yellow);
    --pst-color-warning-bg: var(--climaax-yellow-bg);
    --pst-color-danger: var(--climaax-orange);
    --pst-color-danger-bg: var(--climaax-orange-bg);
    /* Code cells left border color */
    --mystnb-source-margin-color: var(--pst-color-info);
    /* Table row highlighting color */
    --pst-color-table-row-hover-bg: var(--climaax-lightblue-bg);
}

/* Pygments overrides: syntax highlighting */
html[data-theme="light"] .highlight .c1 { color: #888; }

table tr td { min-width: 2.5rem; }
/* Consistent table cell border color */
.table tbody  { border-color: var(--pst-color-table-inner-border); }
/* Ensure spacing for multiple outputs */
div.output.text_html{ margin-top: 1rem; }
/* Fix mismatched greys in xarray output */
div.output.text_html pre { background-color: unset; }

/* No indentation for top-level menu entries */
nav.bd-links li > a {
    padding: .20rem .65rem .20rem 0;
}
/* Vertical line to highlight menu structure */
nav.bd-links ul ul {
    padding-left: 0.7rem;
    margin-left: 0.2rem;
    border-left: 0.1rem solid var(--pst-color-table-inner-border); 
}
/* No vertical bars next to active items in main and content menus */
nav.bd-links .current > a, .toc-entry a.nav-link.active {
    box-shadow: none;
}

/* Fix position of figure captions in margin */
figure > a, figure > a > img {
    display: unset;
}

.climaax-lightgreen {
    color: var(--climaax-lightgreen);
}
.climaax-darkgreen {
    color: var(--climaax-darkgreen);
}
.climaax-yellow {
    color: var(--climaax-yellow);
}
.climaax-orange {
    color: var(--climaax-orange);
}
.climaax-darkblue {
    color: var(--climaax-darkblue);
}
.climaax-lightblue {
    color: var(--climaax-lightblue);
}
.climaax-cyan {
    color: var(--climaax-cyan);
}

.fontsize-125 {
    font-size: 125%;
}
.fontsize-150 {
    font-size: 150%;
}
.fontweight-normal {
    font-weight: normal !important;
}

.card-contrast {
    color: #F9F9F9;
    background-color: var(--climaax-darkblue);
}
.card-contrast .sd-card-text {
    color: #F9F9F9;
}

.dropdown-download-buttons {
    display: none;
}
.btn.theme-switch-button {
    display: none;
}

.navbar-brand logo {
    width: 200px;
}

.bd-header-article .btn {
    color: var(--climaax-darkblue);
}
.bd-header-article .dropdown-source-buttons .btn {
    color: var(--climaax-darkgreen);
}
.bd-header-article .btn-fullscreen-button {
    color: var(--climaax-yellow);
}
.bd-header-article .btn.search-button {
    color: var(--climaax-orange);
}

.page-main-photo {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

figcaption {
    font-size: 0.9rem;
}
figcaption p {
    color: var(--pst-color-text-muted);
}

.prev-next-footer {
    margin-top: 1rem;
}

/* Custom footer in _templates/extra-footer.html */
main > footer {
    margin-top: 1.5rem;
}
.flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}
.flex-footer > div {
    flex: 1;
    text-align: center;
    padding: 1rem 1rem;
    min-width: 250px;
}
.flex-footer .smalltext {
    font-size: 80%;
}
.flex-footer img {
    max-height: 50px;
}

/* Limit full-width content size when left menu bar is collapsed */
div.full-width {
    max-width: 84rem;
}

/* Remove extra padding for last-child margin elements which causes weird shadow placement */
aside.sidebar > :last-child {
    padding-bottom: 0;
}

/* Hide padding in collapsed dropdown admonitions */
.admonition.toggle-hidden .admonition-title ~ * {
    padding: 0;
}

img.hazard-icon {
    width: 1.25em;
    vertical-align: text-top;
    margin-right: 1px;
}
.sd-summary-title img.hazard-icon {
    margin-right: 0.7em;
}

aside.margin.workflow-info {
    padding-left: 1rem;
}
@media (max-width: 991px) {
    aside.margin.workflow-info {
        display: none;
    }
}
aside.margin.workflow-info p {
    color: var(--pst-color-text-muted);
}

/* Custom table for Monitoring and Evaluation in Framework */
table.monitoring-table tr.subtable-heading {
    font-weight: bold;
    font-size: 120%;
    background-color:var(--pst-color-light-highlight);
}
table.monitoring-table th { background-color: var(--pst-color-table-heading-bg); }
#framework-table-indicators { border: 0; }
#framework-table-indicators > tbody > tr > td { padding: 0; }

.dataset-file-list {
    max-height: 30rem;
    overflow-y: auto;
    border: 1px solid var(--pst-color-border);
    border-radius: .25rem;
    padding: 1rem 0;
    background-color: var(--pst-color-surface);
}
.dataset-file-list ul {
    list-style-type: none;
}
.dataset-file-list > ul ul {
    border-left: 2px solid var(--pst-color-border);
}

/* Climate scenarios pages */
.scenarios-widget-controls {
    margin-bottom: 0.5rem;
}
.scenarios-widget-controls label {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid var(--pst-color-border);
    border-radius: 0.5em;
    margin-right: 0.5em;
    background-color: var(--pst-color-surface);
    transition: border-color .15s ease-in-out;
}
.scenarios-widget-controls label:hover {
    border-color: var(--pst-color-link-hover);
}
.scenarios-widget-controls label select {
    margin-left: 0.5em;
}
.scenarios-widget #plotDiv {
    margin-top: 1rem;
}
